body{
    background-color: rgb(224, 226, 233);
}
.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:80px ;
    gap:30px;
}

.heading{
    font-size: 50px;
    color: rgb(34, 34, 245);
}
.subheading{
    font-size:30px;
    width: 500px;
}
.form{
    border: 1px solid rgb(218, 204, 204);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
   padding: 15px;
   height: 310px;
   width: 350px;
   background-color: white;
   align-items: center;
   box-shadow: 7px 7px 20px black;
    
}
.mail{
    height: 50px;
    width: 330px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 18px;
}
.pass{
    height: 50px;
    width: 330px;
    border:1px solid black;
    border-radius: 3px;
    font-size: 18px;
}
.login{
    height: 40px;
    width: 330px;
    background-color: rgba(19, 158, 238, 0.822);
    border: 1px solid rgba(19, 158, 238, 0.822);
    border-radius: 3px;
    font-size: 20px;
}
.for_pass{
    color: blue;
    padding-bottom:15px ;
    border-bottom: 1px solid black;
    text-align: center;
    width: 330px;
}
.Cre_account{
    height: 50px;
    width: 250px;
    font-size: 20px;
    border: 1px solid  rgb(37, 187, 37);
    border-radius: 3px;
    background-color: rgb(37, 187, 37);
}
.text{
    text-align: center;
    font-size: 18px;
}

/* mobile_design */
@media only screen and (max-width:600px){
    .main_container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .subheading{
        width: 100%;
    }
    .right_container{
        align-items: center;
       
    }
}